<%- include("layout", { 
    title: "Create a playlist page", 
    body: ``
}) %>

    <%- include("sidebar", { 
    title: "Home page", 
    playlists: playlists}) %>

        <h3>Create New Playlist</h3>

        </div>

        </html>