<%- include("layout", { 
    title: "Home page", 
    body: ``,
    playlists: playlists}) %>
    <%- include("sidebar", { 
    title: "Home page", 
    playlists: playlists}) %>
        <p></p>
        </div>

        </html>