<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>

    <!-- BOOTSTRAP 4.4 CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
          crossorigin="anonymous">

    <!-- YOUR CUSTOM CSS -->
    <link rel="stylesheet" href="/styles.css">
    <% if (title === "Your Profile") { %>
        <link rel="stylesheet" href="/profile.css">
    <% } %>
    <link rel="stylesheet" href="/player.css">
</head>

<body>

   
    <nav class="navbar navbar-dark bg-dark px-3">
        <a class="navbar-brand" href="/">Home</a>
        <a class="nav-link text-light" href="/signin">Sign In</a>
        <a class="nav-link text-light" href="/signup">Sign Up</a>
        <a class="nav-link text-light" href="/profile">Profile</a>
    </nav>


    <% if (typeof body !== 'undefined' && body !== '') { %>
        <div class="d-flex">
            <main class="flex-grow-1 p-4">
                <%- body %>
            </main>
        </div>
    <% } %>

    
    <% if (typeof userplaylists !== 'undefined' && userplaylists.length > 0) { %>
        <%- include("player") %>

        <script>
            
            const playlist = <%- JSON.stringify(userplaylists[0].songs) %>;
        </script>

        <script src="/player.js"></script>
    <% } %>

</body>
</html>
