<div id="music-player">
  <p>Now Playing: <span id="song-title">No song</span></p>
  <button id="play-btn">Play</button>
  <button id="pause-btn">Pause</button>
</div>

<link rel="stylesheet" href="/public/player.css">
<script src="/musicPlayer.js"></script>
