<div class="player-container">
    <div class="player-info">
        <img src="/images/sabina.jpg" alt="Album">
        <div>
            <p id="song-title">Song Title</p>
            <p id="artist-name">Artist Name</p>
            <div id="song-rating"></div>
        </div>
    </div>

    <div class="player-controls">
        <button id="prevBtn">⏮</button>
        <button id="playBtn">⏯</button>
        <button id="nextBtn">⏭</button>
    </div>

    <input type="range" id="progressBar" class="progress-bar">
    <audio id="audio-player"></audio>
</div>



